.centerBlockHomePage {
	font-family: 'Open Sans', sans-serif;
	width:1000px;
	margin-top: 50px;
	margin-left: auto; /* Отступ слева */
	margin-right: auto; /* Отступ справа */
	overflow: auto;
}

.centerBlockAnyPage{
    width:1000px;
	margin-top: 50px;
	margin-left: auto; /* Отступ слева */
	margin-right: auto; /* Отступ справа */
   /* background: #fff; /* Цвет фона */
    clear:both;/* запрещено обтекание слева и справа */
	min-height: 400px;
	border: 1px solid #c0c0c0; /* Параметры рамки */
	overflow: auto;
    border-radius: 10px 10px 10px 10px; /* Для современных браузеров */
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7), 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7), 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7), 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2) inset;
}

.welcomeHomePage {
	color: #1D3344;
	text-shadow: inset 0px 0px 1px 1px rgba(15,35,90,0.5);
	margin-top: 50px;
	font-size: 350%;
	text-align:  center;
}
.welcomeHomePage  p{
	color: #1D3344;
	text-shadow: inset 0px 0px 1px 1px rgba(15,35,90,0.5);
	text-align:  right;
	margin-right: 30%; 
	font-size: 0.6em;

}

.icons {
margin-left: 30px; 
text-align: left;
list-style-position: outside;
border-bottom: 
}

.Biglock {
  /*background:#30302F;*/
  background-repeat:repeat;
}

.TextPage {
padding:40px 60px;
text-align:justify;
}

.TextAddTestPage {

	width:45%;
	margin-left: auto; /* Отступ слева */
	padding:0px 25px 0px 0px;
	overflow: auto;
	float: left;
	display: inline-block;
}
.TextAddTestPage {
	width:50%;
	margin-left: auto; /* Отступ слева */
	overflow: auto;
	float: left;
	display: inline-block;
}

.textareaAddTest{
width:50%;
height:200px;
margin-top:20px;
margin-left: 0px;
border:1px solid #ccc;
padding:5px;
vertical-align: middle;
font-family:inherit;
font-size:0.9em;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
-moz-box-shadow:inset 0 0 6px #ccc;
-webkit-box-shadow:inset 0 1px 6px #ccc;
box-shadow:inset 0 1px 6px #ccc;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.FormAddTest {
	display: block;
}
.addMail {
width: 22%;
min-width: 130px;
}

.ButtonSubmit {
	width:100%;
	text-align: right;
}





